@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}


.lists{
  display: flex;

  .characters, .stories{
  flex: 1;
  height: 100vh;
  overflow: scroll;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  input {
    position: sticky;
    top: 0;
    flex-basis: 100%;
  }
}
}