@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

input{
  border: 1px solid black;
  margin: 3px;
  padding: 3px;
  border-radius: 2px;
  background-color: white;
}

.charthumbnail{
  background-color: azure;
  width: 330px;
  margin: 5px;
  padding: 3px;
  display: flex;
  flex-flow: row nowrap;

  img.picture{
    border: 2px solid black;
    margin-right: 4px;
    background-color: #00bfbf;
    width: 120px;
    height: 120px;
    order: 1;
  }

  .info{
    order: 2;
    h1{
      font-size: large;
      color: black;
    }
    h3{
      font-size: medium;
      color: gray;
    }
  }
}
.charthumbnail:hover{
  background-color: lightskyblue;
  border: 2px solid lightseagreen;
  margin: 3px;

  img.picture{
    width: 110;
    height: 110;
  }

  .info *{
    text-decoration: underline;
  }
}

.storythumbnail{
  width:330px;
  background-color: lavenderblush;
  margin: 5px;
  padding: 3px;
  display: flex;
  flex-flow: column nowrap;

  img{
    width: 320px;
    height: 180px;
  }

  .title{
    font-size: large;
    color: black;
  }

  .creator{
    font-size: medium;
    color: gray;
  }
}

.storythumbnail:hover{
  background-color: pink;
  border: 2px solid palevioletred;
  margin: 3px;
  .title, .creator{
    text-decoration: underline;
  }
}

.lists{
  display: flex;

  .characters, .stories{
  flex: 1;
  height: 100vh;
  overflow: scroll;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  input {
    position: sticky;
    top: 0;
    flex-basis: 100%;
  }
}
}

header{
  padding: 5px 10px;
  background-color: coral;
  position: sticky;
  z-index: 1;
  top: 0;
  .login{
    float: right;
    background-color: crimson;
    padding: 2px;
    border: 1px solid tomato;
    a:hover{
      color: blue;
    }
  }
}

form{
  display:grid;
  grid-template-columns:20% auto;
  background-color: lightblue;
  margin: 10px 5px;
  padding: 10px 5px;
  float: center;
  #submit{
    background-color: greenyellow;
    border: 2px solid black;
    grid-column: 1 / span 2;
  }

  #submit:hover{
    background-color: green;
    padding: 3px;
  }
}