.charthumbnail{
  background-color: azure;
  width: 330px;
  margin: 5px;
  padding: 3px;
  display: flex;
  flex-flow: row nowrap;

  img.picture{
    border: 2px solid black;
    margin-right: 4px;
    background-color: #00bfbf;
    width: 120px;
    height: 120px;
    order: 1;
  }

  .info{
    order: 2;
    h1{
      font-size: large;
      color: black;
    }
    h3{
      font-size: medium;
      color: gray;
    }
  }
}

.charthumbnail:hover{
  background-color: lightskyblue;
  border: 2px solid lightseagreen;
  margin: 3px;

  img.picture{
    width: 110;
    height: 110;
  }

  .info *{
    text-decoration: underline;
  }
}