.characters{
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    
    input {
    position: sticky;
    top: 0;
    flex-basis: 100%;
  }
}

a{
  background-color: azure;
  width: 330px;
  height: 130px;
  margin: 5px;
  padding: 3px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
a:hover{
  background-color: lightskyblue;
  border: 2px solid lightseagreen;
  margin: 3px;
}