$base-size: 25px;
$half-size: 12px;
$margins: 10px;

div{
    display: inline-block;
    padding: 0 $half-size;
    margin: 3px;
    height: $base-size;
    font-size: 16px;
    line-height: $base-size;
    border-radius: $half-size;
    background-color: #f1f1f1;

    img{
        float: left;
        margin: 0 $margins 0 (-$half-size);
        height: $base-size;
        width: $base-size;
        border-radius: 50%;
    }

    .closebtn{
        padding-left: $margins;
        color: #888;
        font-weight: bold;
        float: right;
        font-size: 20px;
        cursor: pointer;
    }

    .closebtn:hover{
        color:#000;
    }
}
